body{
    background-color:gray;
}

#game--life--container {
    background-color: lightseagreen;
    border: solid 1px black;
    border-radius: 1rem;
    text-align: center;
    margin: 0.25rem;
    position: sticky;
    top: 0;
}

#game--life--bar {
    min-width: 5%;
    background-color: seagreen;
    padding: 0.5rem 0;
    margin: 0.25rem;
    border-radius: 1rem;
}

.mapcontainer{
    border: 5px solid;
}

.tablecontainer{
    display: flex;
    justify-content: center;
    align-items: center;

}
table{
    border-spacing: 0px;
}
.map-wall{
    background-color: black;
}
.map {
    width: 50px;
    height: 50px;
    background-color: gray;
}
.map--floor{
    background-image: url(tiles/floor.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map--floor--diff{
    background-image: url(tiles/floor2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map--floor--hole{
    background-image: url(tiles/floor1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map--floor--sewer{
    background-image: url(tiles/floor3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.map_wall--image{
    background-image: url(tiles/wall.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.map_wall--image--lamp{
    background-image: url(tiles//wall1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall--image--door{
    background-image: url(tiles/wallDoor.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall_horizontal{
    background-image: url(tiles/wallH.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall--vertical{
    background-image: url(tiles/wallV.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall_top_left--corner{
    background-image: url(tiles/wallCorner1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall_top_right--corner{
    background-image: url(tiles/wallCorner2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.map_wall_end--down{
    background-image: url(tiles/wallVEndDown.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}
.map_wall_bottom_right--corner{
    background-image: url(tiles/wallCorner4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall_bottom_left--corner{
    background-image: url(tiles/wallCorner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall--split{
    background-image: url(tiles/wallIntersectionUp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall_cross{
    background-image: url(tiles/wallIntersection.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall_end--left{
    background-image: url(tiles/wallHEndleft.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall_end--right{
    background-image: url(tiles/wallHEnd.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall_end--top{
    background-image: url(tiles/wallVEndUp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall_end--down{
    background-image: url(tiles/wallVEndDown.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall--canal{
    background-image: url(tiles/wallSuer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall--wet{
    background-image: url(tiles/wallWet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall--edge{
    background-image: url(tiles/wallWater.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall--drain{
    background-image: url(tiles/wallCanal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall--water{
    background-image: url(tiles/water.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_wall--water--bucket{
    background-image: url(tiles/waterBucket.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.player{
    
    background-image: url(tiles/knight.png), url(tiles/floor.png);
    background-position: center;
    background-size: cover;
}