.container-block {
    width: 80vw;
    background: url('./img/wood.jpg') #311915b4 no-repeat center center;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

.navig {
    position: sticky; 
    width: 100%;   
}

.list { 
    list-style: none;
    padding: 10px;
    margin: 0, auto;
    background-color: brown;
    border: 2px;
    display: flex;
    justify-content: space-evenly;
}

.list li {
    text-align: center;
}

.list a {
    color: white;
    text-decoration: none;
}


.carousel-caption, .container-fluid, .section-authors-title, .functions--content--header {
    font-family: ‘LABRIT’;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.carousel-heading {
    font-size: 5rem;
    font-weight: 900;
}

.carousel-paragraph {
    font-family: ‘Assassin’;
    font-size: 3rem
}

.container-fluid {
    font-size: 2rem;
    font-weight: 900;
}

@font-face {
    font-family: ‘Aleo-Bold’;
    src:
    url('/fonts/Aleo-Bold.otf');
    src:
    url('/fonts/Aleo-Bolditalic.otf');
    src:
    url('/fonts/Aleo-Italic.otf');
    src:
    url('/fonts/Aleo-Light.otf');
    src:
    url('/fonts/Aleo-LightItalic.otf');
    src:
    url('/fonts/Aleo-Regular.otf');
    }

@font-face {
    font-family: ‘Assassin’;
    src:
    url('/fonts/Assassin.ttf');
}

@font-face {
    font-family: ‘LABRIT’;
    src:
    url('/fonts/LABRIT.ttf');
}

@font-face {
    font-family: ‘TRAJANUS’;
    src:
    url('/fonts/TRAJANUS.ttf');
}


main{
    background: url('./img/fmap.png') no-repeat center center fixed;
}

.lista a:hover{
    font-weight: bold;
}

.functions--content {
    text-align: center;
    margin-bottom: 2rem;
}

.functions--content--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center
}

.functions--content--container > div {
    background-color: white;
    margin: 1rem;
    width: 35vw;
    border: solid #b7922c;
    border-radius: 40rem;
}

.functions--img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
}

.functions--content--header {
    margin: 2rem 3rem 0 3rem;
}

.functions--content--paragraph {
    max-width: 50%;
    margin: 2rem auto;
}

@media screen and (max-width: 600px) {
    .functions--img {
        width: 60%;
        height: 60%;
        min-width: 50px;
        min-height: 50px;
    }
}

@media screen and (max-width: 650px) {
    .functions--img {
        width: 75%;
        height: 75%;
        min-width: 50px;
        min-height: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .scale {
            object-fit: cover;
            max-height: 50%;
            height: 50vh!important;
    }
}

/* AUTHORS - CSS code*/

.section-authors {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.section-authors-title {
    font-family: ‘LABRIT’;
    -webkit-text-stroke: 1px black;
    color: white;
    width: 100%;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.personal-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-authors {
    margin: 0 0 4rem 0;
    border: 0 0 1rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.personal-data {
    display: inline-block;
    height: 35rem;
    max-width: 18rem;
    min-width: 20rem;
    background-color: white;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1.5rem;
    font-size: 1rem; 
    text-align: center;
}

.section-subscribe {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
    
.section-subscribe-title {
    font-size: 40px;
    font-weight: normal;
    margin: 0px 0px;    
}
    
.email {
    width: 400px;
    height: 50px;
    font-size: 14px;
    color: lightgray;
    padding: 0px 19px;
}
    
.submit-button {
    height: 50px;
    width: 100px;
    background-color: lightsalmon;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}